@import "tailwindcss";

a {
  font-weight: 500;
  color: #06303a;
  text-decoration: inherit;
  text-align: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
/* button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #1e428e;
    color: white;
  }
}

html,
body {
  background-color: rgb(176, 176, 176);
  min-height: 100vh;
  margin: 0;
}

.page-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1; /* pushes footer down */
}

footer {
  /* background: #807f7f; */

  text-align: center;
  padding: 10px;
}

/* html body {
  height: 100vh;
  margin: 0;
}
footer p {
  background-color: #213547;
  color: white;
  text-align: justify;
} */
